
.contact-form {
    margin-left: 50px;   
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.img-lettera{
    margin-top: 200px;
    margin-bottom: 50px;
}
.title-contacts{
    margin-bottom: 50px;
}

.field{
    margin-bottom: 50px;
}

.all-field label, input, textarea{
    display: flex;
    flex-direction: column;
}

label{
    color: rgb(244, 245, 208) ;
    font-size: large;
}

input{
    width: 500px;
    height: 40px;
}

textarea{
    width: 700px;
    height: auto;
}

.btn-send{
    margin-bottom: 100px;
    background: rgb(212, 156, 133);
    border-radius: 15px;
    padding: 10px 25px;
    font-size: large;
}

@media (max-width: 768px) {
    input{
    width: 300px;
    height: 40px;
    }

    textarea{
       width: 400px;
       height: auto;
    }
} 
