#inP-title{
    font-size: 84px;
    padding-top: 100px;
    @media (max-width:768px){
        font-size: 54px;
    }
}

.more-card-inP{
    color: rgb(223, 217, 180);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    // margin-bottom: 100px;
    .cards-wrapper-inP{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        margin-top: 50px;
        gap: 50px;
        margin-bottom: 50px;
        width: 100%;
        max-width: 1200px;
    }
    .text-content-inP{
        flex: 1 1 0;
        padding: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: 0 0 10px;
        border-color: 2px solid rgb(223, 217, 180);
        border-radius: 30%;
        backdrop-filter: blur(10px); 
    }
    h2{
        font-size: 28px;
        margin-bottom: 20px;
    }
    p{
        font-size: 14px;
        margin: 0;
        line-height: 1.4;
        // text-align: center;
    }

    @media (max-width:768px){
        .cards-wrapper-inP{
        flex-direction: column; // Mobile: card una sotto l'altra
        align-items: center;
        }
        
        .text-content-inP {
            width: 100%; // Le card prendono tutta la larghezza disponibile
            max-width: 400px;
            flex: none;
        }            
        h2{
            font-size: 22px;
        }
        p{
            font-size: 11px;
        }

    }
}

.scroll-arrow {
  margin: 48px auto 20px;
  padding-bottom: 100px;
  text-align: center;

  i {
    font-size: 68px;     // 👈 MOLTO PIÙ GRANDE
    color: rgb(223, 217, 180);      // cambia colore qui
    animation: float 1.6s ease-in-out infinite;
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}


.road-wrapper-inP {
    display: flex;
    flex-direction: column;
    align-items: center; // Centra tutto il contenuto
    background-color: rgb(15, 33, 37);
    padding-bottom: 0;
    color: rgb(244, 245, 208);
    .journey-title-inP {
        font-size: 84px;
        font-weight: 300;
        margin: 40px 0 20px 0;
        padding-bottom: 100px;
        @media (max-width:768px){
            font-size: 54px;
        }
    }
}

.road-container-inP {
    position: relative;
    /* IMPORTANTE: Questo limita quanto la strada può diventare grande */
    width: 100%;
    max-width: 800px; 
    margin: 0 auto;
    padding-top: 80px; // Spazio sopra e sotto l'immagine della strada

    .road-image-inP {
        width: 100%;
        height: auto;
        display: block;
    }
}