
@import "about";
@import "contatti";
@import "portfolio";
@import "cv";
@import "footer";
@import "buddify";
@import "inProgress";


html{
    height: 100%;
}

body{
    background-color:rgb(15, 33, 37);
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 14px;
}

body h1{
    font-family: "Zen Antique Soft", serif;
    font-size: 58px;
}

body h2{
    font-family: "Zen Antique Soft", serif;
    font-size: 35px;
}

body h3{
    font-family: "Zen Antique Soft", serif;
    font-size: 22px;
}

.navbar{
    background-color:rgb(15, 33, 37, 0.8);
    color: white;
    border-bottom: 2px solid rgb(244, 245, 208, 0.85);
}

.navbar-brand{
    color: rgb(244, 245, 208);
}

.navbar-toggler {
    border: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
    padding: 0.25rem;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}


.navbar-toggler-icon{
    background-image: url(../img/menu.hamburgher.chiuso.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 1.8rem;
    height: 1.8rem;
}

.btn-close{
    background-image: url(../img/menu.hamburgher.x.svg);
    background-size: 70%;
    width: 2rem;
    height: 2rem;
    padding-right: 1rem;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
}

#offcanvasNavbar{
    height: 70vh;
    background-color: rgb(28, 45, 49, 0.75);
    @media(max-width: 768px){
        height: 100%;
    }
}




.desktop-nav .nav-link {
    color: rgb(244, 245, 208);
    font-weight: 500;
    position: relative;
}

.desktop-nav .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: rgb(180, 129, 115);
    transition: width 0.3s ease;
}

.desktop-nav .nav-link:hover::after {
    width: 100%;
}


.nav-link{
    color: rgb(244, 245, 208);
}





.landing-page-btns {
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start;
    gap: 30px;
    margin-top: 30px;
    font-size: 14px;
    padding: 10px 0;

    @media (min-width: 768px) {
        justify-content: flex-start;
    }

    /* STILE DEI BOTTONI - Sostituisce la parte che avevi commentato */
    .landing-page-btn-1 {
        font-size: 16px;
        padding: 10px 15px;
        background-color: rgb(15, 33, 37) !important;
        color: rgb(180, 129, 115)!important;
        border-radius: 10px;
        border: 3px solid rgb(180, 129, 115) ;
        text-decoration: none; // Toglie la sottolineatura del link
        font-weight: 600;
        display: inline-block;
        transition: transform 0.2s;

        &:hover {
            transform: scale(1.05);
            filter: brightness(1.1);
        }
    }

    .landing-page-btn-2 {
        font-size: 16px;
        padding: 10px 15px;
        background-color: rgb(212, 156, 133) !important;
        color: rgb(15, 33, 37) !important;
        border-radius: 10px;
        border: none;
        text-decoration: none;
        font-weight: 600;
        display: inline-block;
        transition: transform 0.2s;

        &:hover {
            transform: scale(1.05);
            filter: brightness(1.1);
        }
    }
}




.hero {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-height: 100vh;
    padding: 100px 20px 40px 20px;
    gap: 30px;
    color: rgb(244, 245, 208);

    .hero-text-content {
        order: 2; 
        justify-content: flex-start;
        align-items: center;
        margin: 0 10px;
        flex: 1;

        h1 {
            margin-top: 0 !important; 
            font-size: 54px !important;
            line-height: 1.1;
            margin-bottom: 15px;
        }
        .hero-subtitle {
            font-size: 31px !important;
            
            margin-bottom: 20px;
        }
        h3 {
            font-size: 18px !important;
        }
        .hero-description {
            font-size: 11px !important;
            max-width: 500px;
            // margin: 0 auto 30px auto;
        }
    }

    .hero-image-container {
        order: 1; // Messo a 1 per stare sopra il testo su mobile
        flex: 1;
        width: 100%;
        margin: 0 10px;
        
        .img-fluid-mobile{
            align-items: center;
            justify-content: center;
        }

        .img-fluid-desktop{
           display: none;
        }

    }

    /* MEDIA QUERY DESKTOP CORRETTA */
    @media (min-width: 768px) {
        flex-direction: row !important; 
        justify-content: flex-start;
        align-items: center;
        gap: 0;
        // padding: 0 0 0 5% !important; // Aumentato il padding per centrare meglio il contenuto

        .hero-text-content {
            order: 1; 
            flex: 0 0 35%;
            // min-width: 500px;
            text-align: left;
            z-index: 2;
            padding-left: 70px;
            

            h1 { 
                font-size: 84px;
            }
            .hero-subtitle { 
                font-size: 56px; 
            }
            h3 { 
                font-size: 28px;
            }
            .hero-description {
                font-size: 14px;
                //margin: 0 0 30px 0; 
                // max-width: 480px;
            }
        }

        .hero-image-container {
            order: 2; 
            flex: 0 0 65%; // Diamo più spazio all'immagine
            display: flex;
            justify-content: center;
            align-items: center;


            .img-fluid-desktop {
                display: block !important;
                width: 100% !important; // Forza l'immagine a coprire tutto il 55%
                max-width: 1300px; // Aumentiamo il limite massimo
                height: auto;
                margin-right: 50px;
                object-fit: contain;
                transform: scale(1.2); // Ingrandisce l'immagine senza spostare il testo
                transform-origin: left center; // Cresce verso destra
            }

            .img-fluid-mobile{
                display: none !important;
            }


        }
    }
}




.ability{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.ability::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(15, 33, 37);
    z-index: 1;
}

.ability-card-container{
    width: 100%;
    background-color: rgb(223, 217, 180);
    z-index: 3;
    padding-top: 100px;
    padding-bottom: 50px;
}

.ability h2{
    position: relative;
    z-index: 3;
    margin-top: 20vh;
    color: rgb(244, 245, 208);
    margin-bottom: 50px;

    @media (max-width:768px){
        margin-bottom: 20px;
    }
}


.ability .ability-card{
    position: relative;
    z-index: 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 2rem;
    justify-items: center;
    align-items: start;
}



.ability-item{
    text-align: center;
}

.ability-item img{
    width: 100%;
    max-width: 160px;
    height: auto;
    display: block;
    margin-inline: auto;
}

.ability-item p, ul{
    color: rgb(15,33,37);
    margin-top: .5rem;
}


.more-card{
    color: rgb(223, 217, 180);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    .cards-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        margin-top: 50px;
        gap: 50px;
        margin-bottom: 50px;
        width: 100%;
        max-width: 1200px;
    }
    .text-content-home{
        flex: 1 1 0;
        padding: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: 0 0 10px;
        border-color: 2px solid rgb(223, 217, 180);
        border-radius: 15px;
        backdrop-filter: blur(10px); 
    }
    h2{
        font-size: 28px;
        margin-bottom: 20px;
    }
    p{
        font-size: 14px;
        margin: 0;
        line-height: 1.4;
        // text-align: center;
    }
    .know-more{
        font-size: 28px;
        a{
            color: rgb(223, 217, 180);
            font-weight: 600;
        }
    }

    .appr{
        font-size: 56px;
        margin-bottom: 0;
        margin-top: 150px;
    }

    @media (max-width:768px){
        .cards-wrapper{
        flex-direction: column; // Mobile: card una sotto l'altra
        align-items: center;
        }
        
        .text-content-home {
            width: 100%; // Le card prendono tutta la larghezza disponibile
            max-width: 400px;
            flex: none;
        }            
        h2{
            font-size: 22px;
        }
        p{
            font-size: 11px;
        }
        .know-more{
            font-size: 22px;
        }

        .appr{
            font-size: 31px;
            padding-bottom: 0;
            margin-bottom: 0;
        }

    }
}




.last-project-container h2{
    position: relative;
    color: rgb(244, 245, 208);
    text-align: center;
    margin-top: 200px;
    margin-bottom: 50px;

    @media (max-width:768px){
        margin-bottom: 20px;
    }
}

.last-project img{
    margin-bottom: 50px;
    height: 400px;
    width: 300px;    
}


.future-prj h2{
    position: relative;
    color: rgb(244, 245, 208);
    text-align: center;
    margin-top: 200px;
    margin-bottom: 50px;
}

.future-collab img{
    width: 100%;
    max-width: 160px;
    height: auto;
    display: block;
    margin-left: 50px;
}


@media (max-width:768px){
    .last-project img{
        height: 350px;
        width: 300px;
    }
}


@media (max-width: 768px){
    .future-collab img{
        max-width: 130px;
        display: block;
        margin-inline: auto;
    }
}

@media (max-width: 768px){
    br{
        display: none;
    }
}